---
title: Mouse Dexterity Game
---

<div id="mouse-dexterity-game"></div>

<script type="text/javascript">
  $(function() {
    game = new Game({
      element: $("#mouse-dexterity-game")
    });
    var S = true;
    var N = false;
    game.setup([
      S, N, N, S, S, S, S, S,
      S, N, S, S, N, N, N, S,
      S, S, S, N, N, S, S, S
    ]);
  });
</script>
